body {
	padding-top: 65px;
}

h1
{
    font-size: 2.3rem;
}

h3
{
    font-size: 32px;
    /*background-color: #ffffff;*/
    z-index: 998;
    position: relative;
    font-family: 'Vollkorn', serif;
}

h3 span {
    /*background-color: #FFFFFF;*/
}

#nav-modal .modal-content
{
    border: none;
}

.fixed-top
{
    z-index: 999;
    /*z-index: 99999;*/
}

.layer-exm h2
{

    font-size: 24px;
    /*font-weight: 700;*/
    /*color: #ffc107;*/
    font-style: italic;
}

.layer-exm h2::first-letter {
    /*color: #ffc107;*/
    /*font-weight: 700;*/
}

.title-two span 
{
	border-bottom: 1px solid #ffc107;
}

.seporator
{
    position: relative;
}

.seporator::before 
{
    content: "";
    left: 0;
    right: 0;
    top: 60%;
    position: absolute;
    width: 100%;
    height: 7px;
    background-position: center center;
    background-size: contain;
    /*background-image: url("../images/separator-wave.svg");*/
    z-index: -1;
}

.f-image 
{
    background-size: cover;
    margin-bottom: -5px;
    z-index: 998;
    position: relative;
    width: 36px;
    height: 36px;
    display: inline-block;
}

.f-gift
{
    width: 36px;
    height: 36px;
    display: inline-block;
    background-image: url(../images/giftbox.svg);
    background-size: cover;
    margin-bottom: -5px;
    z-index: 999;
    position: relative;
}

.f-theme 
{
    background-image: url(../images/theme.svg);
}

.f-creativity 
{
    background-image: url(../images/creativity.svg);
}

.f-family 
{
    background-image: url(../images/family.svg);
}

.f-rings 
{
    background-image: url(../images/rings.svg);
}

.f-cake 
{
    background-image: url(../images/cake.svg);
}

.f-paint-palette 
{
    background-image: url(../images/paint-palette.svg);
}

.f-cursor 
{
    background-image: url(../images/cursor.svg);
    background-size: cover;
    margin-bottom: -5px;
    z-index: 1000;
    position: relative;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-right: 10px;
    /*background-color: transparent;*/
}

.f-cursor path {
  fill: #FFFFFF;
}

.seporator2
{
    height: 10px;
    position: relative;
}

.seporator2::before 
{
    content: "";
    left: 0;
    right: 0;
    top: 0%;
    position: absolute;
    width: 100%;
    height: 7px;
    background-position: center center;
    background-size: contain;
    background-image: url("https://izhevsk.soho.menu/bitrix/templates/soho/css/../images/separator-wave.svg");
}

.plr0 {
    padding-left: 0!important;
    padding-right: 0!important;
}

.plr15 {
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.plr30 {
    padding-left: 30px!important;
    padding-right: 30px!important;
}

.backf7
{
    background-color: #f7f7f7;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 20px 0;
}

.button-select-theme 
{
    /*text-transform: uppercase;*/
    font-size: 14px;
    border-radius: 0;
    background-color: #f32c2c;
    color: #FFFFFF;
    padding: 12px 12px;

    overflow: hidden;
    margin: 10px;
    padding: 12px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    /*text-transform: capitalize;*/
    color: #fff;
    border: 0 none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    box-shadow: 2px 5px 10px #ff9b9b;
    /*text-transform: uppercase;*/
    font-family: 'Open Sans', sans-serif;
    padding-right: 15px;
}

.pattern
{
	background-image: url(../images/pattern2.png);
    /*padding: 20px 0;*/
    height: 130px;
    margin: 20px 0;
}

.button-select-theme:focus
{
    outline: none;
}

.button-select-theme:hover {
    transition: all 150ms linear;
    /*opacity: .85;*/
    background-color: #ff5252;
    box-shadow: 2px 5px 10px #ff5252;
}

.layer-header {
	background-color: #f9ffdc;
	box-shadow: 0px 20px 24px rgb(239, 239, 239);
	position: relative;
	background-image: url(../images/pattern3.png);
}

.button-order
{
    font-family: 'Open Sans', sans-serif;
    background-color: #2c7cf3;
    color: #FFFFFF;
    padding: 12px 12px;
    overflow: hidden;
    margin: 10px;
    padding: 12px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    /* text-transform: capitalize; */
    color: #fff;
    border: 0 none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    box-shadow: 2px 5px 10px #16458c;
    /* text-transform: uppercase; */
    font-family: 'Open Sans', sans-serif;
    padding-right: 15px;
}

.button-order:hover
{
    transition: all 150ms linear;
    background-color: #4f92f7;
    box-shadow: 2px 5px 10px #1461d6;
}

.button-more
{
    font-size: 14px;
    border-radius: 0;
    background-color: #289430;
    color: #FFFFFF;
    padding: 12px 12px;
    overflow: hidden;
    margin: 10px;
    padding: 12px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    /* text-transform: capitalize; */
    color: #fff;
    border: 0 none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    box-shadow: 2px 5px 10px #1c5f21;
    /* text-transform: uppercase; */
    font-family: 'Open Sans', sans-serif;
    padding-right: 15px;
}

.button-more:hover
{
    transition: all 150ms linear;
    background-color: #3bb349;
    box-shadow: 2px 5px 10px #268231;
}

.layer-new-back {
	background-color: #fffce5;
}

.art-example
{
	background-color: #FAFAFA;
	box-shadow: 0px 0px 15px rgb(199, 199, 199);
}

.f-lit {
	font-family: 'Literata', serif;
}


.f-open {
	font-family: 'Open Sans', sans-serif;
}

.header-navbar {
	background-color: #FFFFFF;
	box-shadow: 1px 1px 15px rgb(199, 199, 199);
}

.navbar-brand {
	font-family: 'Literata', serif;
	font-size: 24px;
}

.navbar-toggler {
    width: 30px;
    margin: 10px 0;
    line-height: .4;
    outline: 0;
    z-index: 100;
    padding: 0;
    border-color: #FFFFFF!important;
}

.navbar-toggler
{
	outline: none!important;
}

.navbar-toggler .bar1, .navbar-toggler .bar2, .navbar-toggler .bar3 {
    width: 100%;
    height: 2px;
    background-color: #444444;
    display: inline-block;
    vertical-align: middle;
}

.exms {
    margin: 40px 0;
}

.img-cat
{
    width: 60%;
    height: 300px;
    margin: 30px auto;
    border: 13px solid #f1f1f1;
    box-shadow: 11px 13px 21px #e0e0e0;
    background-size: cover;
    background-image: url(../images/1.jpg);
    border-radius: 6px;
}

.img-cat2 
{
    width: 60%;
    height: 300px;
    margin: 30px auto;
    border: 13px solid #f1f1f1;
    box-shadow: 11px 13px 21px #e0e0e0;
    background-size: cover;
    background-image: url(../images/2.jpg);
    border-radius: 6px;
}

.img-exm 
{
    margin: 1px;
    display: inline-block;
    width: 120px;
    height: 150px;
    background-size: cover;
    background-image: url("../images/1.jpg");
}

.img-exm2 
{
    margin: 1px;
    display: inline-block;
    width: 120px;
    height: 150px;
    background-size: cover;
    background-image: url("../images/2.jpg");
}





.modal-backdrop.show
{
    opacity: 0.94;
}

.navbar-toggle {
  float: left !important;
  margin-left: 15px;
  margin-right: 0;
}

.modal-up  .modal-content {
  width: 100%;
  height: auto;
  background-color: transparent;
}

.modal-up  .modal-body ul {
  margin-top: 100px; 
}

.modal-up  .modal-body ul {
  list-style-type: none;
  color: white;
  /*margin: 0;*/
  padding: 0;
  width: 100%;
}

.modal-up  .modal-body ul li {
  text-align: center;
  font-size: 160%;
  padding: 16px;
  text-transform: uppercase;
}

.modal-up  .modal-body ul li a {
  color: #FFFFFF;
}

.modal-up  .modal-body ul li a:hover {
    border-bottom: 2px solid #ff9900;
    text-decoration: none;
}


.modal-up .modal-context 
{
    background-color: #FFFFFF;
    margin-top: 100px;
    border-radius: 4px;
    padding: 20px 20px 30px 20px;
}

.modal-up .modal-title
{
    font-size: 160%;
    margin-bottom: 20px;
}

#modal-order {
    /*text-align: center;*/
}

.custom-radio {
    font-size: 18px;
}

/* not checked hover style*/
.icheck-orange > input[type="radio"]:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-orange > input[type="checkbox"]:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-orange > input[type="radio"]:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before,
.icheck-orange > input[type="checkbox"]:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-color: #f39c12;
}

/*checked style*/
.icheck-orange > input[type="radio"]:first-child:checked + label::before,
.icheck-orange > input[type="checkbox"]:first-child:checked + label::before,
.icheck-orange > input[type="radio"]:first-child:checked + input[type="hidden"] + label::before,
.icheck-orange > input[type="checkbox"]:first-child:checked + input[type="hidden"] + label::before {
    background-color: #f39c12;
    border-color: #f39c12;
    box-shadow: 0 0 0 0.2rem rgb(255, 214, 148);
}

.custom-control-input:not(:disabled):active~.custom-control-label::before
{
    background-color: #f39c12;
    border-color: #f39c12;
}

.modal-label {
    font-size: 18px;
    color: #757575;
    margin-bottom: 10px;
}

.modal-border {
    border: 1px solid #d1d1d1;
    padding: 20px 15px;
    border-radius: 6px;
}

.modal-up button {
    border: none;
}

.modal-up .navbar-toggler .bar1, .modal-up .navbar-toggler .bar2, .modal-up .navbar-toggler .bar3 {
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
}

.modal-up .bar1 {
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: -8px;
}

.modal-up .bar2 {
    display: none!important;
}

.modal-up .bar3 {
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-top: -8px;
}